# Анализ данных на Python

### Семинар 6. Множества и словари. Задачи.

In [8]:
def test_problem(func, test_data):
    for inputs, true_answer in test_data:
        answer = func(inputs)
        assert answer == true_answer, f'Expected {true_answer}, got {answer}. Input: {inputs}'
    print("OK!")
    
def test_problem_13(func, test_data):
    for inputs, true_answer in test_data:
        answer = func(*inputs)
        assert answer == true_answer, f'Expected {true_answer}, got {answer}. Input: {inputs}'
    print("OK!")

## Задачка 1: магазин
Вам предостоит обработать базу данных о продажах некоторого интернет-магазина. База данных представляет собой набор кортежей, в каждом кортеже три элемента: (Покупатель, товар, количество), где Покупатель — имя покупателя (строка без пробелов), товар — название товара (строка без пробелов), количество — количество приобретенных единиц товара.
Создайте словарь, ключами которого являются имена покупателей, а значениями — словари, ключами которых являются названия товаров, а значениями — количество единиц этого товара, которые купил этот покупатель.
Напишите функцию aggregate, принимающую некоторое количество набор кортежей из базы данных и возвращающую сводную информацию в виде словаря.

In [13]:
example_bd = [('Vanya', 'milk', 7),
              ('Vanya', 'milk', 2),
             ('Vanya', 'bread', 3),
             ('Katya', 'milk', 10)]

res = {'Vanya': {
    'milk': 9,
    'bread': 3
},
       'Katya': {
          'milk': 10
      }}

In [11]:
example_bd2 = []

In [34]:
example_bd3 = [('Vanya', 'milk', 1),
              ('Vanya', 'bananas', 10)]

* Запустить цикл по кортежам

На каждой итерации цикла:
* Добавить пользователя как ключ в словарь, если раньше не видели. Значение – пустой словарь
* Если видели, то ничего не делаем

На первой итерации будет такое
кортеж – ('Vanya', 'milk', 7)
словарь – {'Vanya':{}} 

На второй итерации будет такое
Кортеж ('Vanya', 'milk', 3)
словарь – {'Vanya':{'milk': 7}} 
* Добавляем продукт (как ключ) и количество товара (как значение)

– Если продукт покупают впервые (в ключах словаря его сейчас нет) – то d[client][product] = value

– Если продукт уже покупали (в ключах словаря он есть) – d[client][product] += value

In [37]:
output = {}
for client, product, value in example_bd:
    if client not in output:
        output[client] = {}
    if product not in output[client]:
        output[client][product] = value
    else:
        output[client][product] += value
    print(client, product, value)
    print(output)
    print()

Vanya milk 7
{'Vanya': {'milk': 7}}

Vanya milk 2
{'Vanya': {'milk': 9}}

Vanya bread 3
{'Vanya': {'milk': 9, 'bread': 3}}

Katya milk 10
{'Vanya': {'milk': 9, 'bread': 3}, 'Katya': {'milk': 10}}

In [43]:
d = {}
d['Vanya'] = {}

In [44]:
d

{'Vanya': {}}

In [45]:
d['Katya'] = {}

In [46]:
d

{'Vanya': {}, 'Katya': {}}

In [47]:
d['Vanya']

{}

In [48]:
d['Vanya']['milk'] = 7

In [49]:
d

{'Vanya': {'milk': 7}, 'Katya': {}}

In [51]:
d['Katya']

{}

In [52]:
d['Katya']['bananas'] = 15

In [53]:
d['Vanya']

{'milk': 7}

In [54]:
d['Vanya']['bread'] = 3

In [55]:
d

{'Vanya': {'milk': 7, 'bread': 3}, 'Katya': {'bananas': 15}}

In [57]:
d['Katya']

{'bananas': 15}

In [58]:
d['Katya']['bananas']

15

In [60]:
d['Katya']['bananas'] = d['Katya']['bananas'] + 20

In [61]:
d['Katya']['bananas'] += 20

In [62]:
d

{'Vanya': {'milk': 7, 'bread': 3}, 'Katya': {'bananas': 55}}

In [63]:
f = open('output.txt', 'w')

In [65]:
f.write(str(d))

60

In [66]:
f.close()

In [64]:
str(d)

"{'Vanya': {'milk': 7, 'bread': 3}, 'Katya': {'bananas': 55}}"

In [76]:
f = open('input.txt', 'r')

In [77]:
data = f.readlines()

In [80]:
data[0].strip()

'Полуэкт Варфоломеев'

In [82]:
data

['Полуэкт Варфоломеев\n',
 'Варфоломей Виссарионов\n',
 'Виссарион Полуэктов\n',
 'Варфоломей Виссарионов\n',
 'Варфоломей Виссарионов\n',
 'Полуэкт Варфоломеев']

In [81]:
[s.strip() for s in data]

['Полуэкт Варфоломеев',
 'Варфоломей Виссарионов',
 'Виссарион Полуэктов',
 'Варфоломей Виссарионов',
 'Варфоломей Виссарионов',
 'Полуэкт Варфоломеев']

In [85]:
with open('input.txt', 'r') as f:
    data = []
    for line in f:
        data.append(line.strip())

In [86]:
data

['Полуэкт Варфоломеев',
 'Варфоломей Виссарионов',
 'Виссарион Полуэктов',
 'Варфоломей Виссарионов',
 'Варфоломей Виссарионов',
 'Полуэкт Варфоломеев']

In [87]:
f = open('input.txt', 'r')

In [101]:
f.readline()

''

In [38]:
def aggregate(data):
    output = {}
    for client, product, value in data:
        if client not in output:
            output[client] = {}
        if product not in output[client]:
            output[client][product] = value
        else:
            output[client][product] += value
    return output

In [41]:
aggregate(example_bd3)

{'Vanya': {'milk': 1, 'bananas': 10}}

In [15]:
a ={}

In [16]:
a

{}

In [23]:
a['key'] = 10

In [24]:
a

{'key': 10}

In [25]:
a['key'] = 100

In [26]:
a

{'key': 100}

In [42]:
AGG_TESTS_DATA = [
    ([("Petrov","pens",5), ("Ivanov","marker",3), ("Ivanov","paper",7), 
      ("Petrov","envelope",20), ("Ivanov","envelope",5)], 
     {'Petrov': {'pens': 5, 'envelope': 20}, 
      'Ivanov': {'marker': 3, 'paper': 7, 'envelope': 5}}),
    
    ([("Ivanov","aaa",1), ("Petrov","aaa",2), ("Sidorov","aaa",3), ("Ivanov","aaa",6), 
      ("Petrov","aaa",7), ("Sidorov","aaa",8), ("Ivanov","bbb",3), ("Petrov","bbb",7), 
      ("Sidorov","aaa",345), ("Ivanov","ccc",45), ("Petrov","ddd",34), 
      ("Ziborov","eee",234), ("Ivanov","aaa",45)],
    {'Ivanov': {'aaa': 52, 'bbb': 3, 'ccc': 45},
     'Petrov': {'aaa': 9, 'bbb': 7, 'ddd': 34},
     'Sidorov': {'aaa': 356},
     'Ziborov': {'eee': 234}})
]
test_problem(aggregate, AGG_TESTS_DATA)

OK!

## Задачка 2: одинаковые строки

Напишите функцию, которая приенимает на вход две строки и возвращает True, если перестановкой символов можно получить вторую строку из первой.

In [102]:
sorted('foo')

['f', 'o', 'o']

In [104]:
list(zip([1, 2], [3, 4]))

[(1, 3), (2, 4)]

In [105]:
def is_isomorphic(a, b):
    a = sorted(a)
    b = sorted(b)
    
    if len(a) != len(b):
        return False
    else:
        for letter_one, letter_two in zip(a, b):
            if letter_one != letter_two:
                return False
    return True

In [106]:
TEST_DATA = [
    (('foo', 'bar'), False),
    (('foo', 'oof'), True),
    (('a', 'a'), True),
    (('aaa', 'aaab'), False),
    (('140', '041'), True),
]

test_problem_13(is_isomorphic, TEST_DATA)

OK!

## Задачка 3. Парковка

Напишите функцию, которая принимает на вход словарь, где ключом является индекс парковочного места, а значением True/False (занято/свободно). Вторым аргументом функция должна принимать индекс места, которое хочется занять.
Функция должна возращать True, если место можно занять и модифицировать словарь, занимая место. Функция возвращает False, если место уже занято.

In [ ]:
def parking_lot(data, index):
    return True

In [ ]:
parking = {0: False, 1: False, 2: False, 3: False}

TEST_DATA = [
    ((parking, 0), True),
    ((parking, 0), False),
    ((parking, 1), True),
    ((parking, 3), True),
]

test_problem_13(parking_lot, TEST_DATA)

## Задачка 4. Последовательность ДНК.

Последовательность ДНК содержит четыре вида символов: 'A', 'C', 'G', и 'T'.
Напишите функцию, которая будет возращать все подпоследовательности длины 10, которые встретились чаще одного раза.

In [ ]:
def repeated_dna(s):
    return []

In [ ]:
TEST_DATA = [
    ('AAAAACCCCCAAAAACCCCCCAAAAAGGGTTT', ['AAAAACCCCC','CCCCCAAAAA']),
    ('AAAAAAAAAAAAA', ['AAAAAAAAAA']),
]

test_problem(repeated_dna, TEST_DATA)