# Семинар 7

### 1. Модуль os

In [1]:
import os

In [5]:
# !ls
os.listdir()[:5]

['what_i_want_to_tell.ipynb',
 'sem04_211.ipynb',
 'dirty_ML',
 '.bash_history',
 '.config']

In [8]:
# !pwd
os.getcwd()

'/home/randomwalk'

In [9]:
# os.mkdir('sem07_211')
os.mkdir('/home/randomwalk/sem07_211')

In [10]:
os.chdir('sem07_211')

In [11]:
os.getcwd()

'/home/randomwalk/sem07_211'

In [12]:
# !mv 
os.rename("/home/randomwalk/file_test.txt", 
          "/home/randomwalk/sem07_211/file.txt")

In [13]:
os.listdir()

['file.txt']

In [14]:
!cat file.txt

ахаахах

In [17]:
os.listdir('../dirty_ML')[:3]

['moder_quality_metrics_tragic.ipynb', 'ppilif_visual', 'ts_model.pickle']

In [19]:
# !unzip cheating.zip

### 2. Текстовые файлы: .txt

In [24]:
# питон открывает файл
f = open('file.txt')

In [25]:
f.readlines()

['ахаахах']

In [26]:
f.readlines()

[]

In [23]:
f.close()

In [27]:
with open('file.txt', 'r') as f:
    a = f.readlines()
a

['ахаахах']

In [ ]:
# r - read 
# w - write
# a - append

In [29]:
# w - перезапись файла
with open('file.txt', 'w') as f:
    f.write('ахаха=азащзазащ')

!cat file.txt

ахаха=азащзазащ

In [33]:
with open('file.txt', 'a') as f:
    f.write('\nахах')

!cat file.txt

ахаха=азащзазащахах
ахах
ахах
ахах

In [ ]:
# в контесте вход хранится в файле 'input.txt'
# ответы можно записывать в фпйл 'output.txt'

In [34]:
x = ['lkwfjfwejfwel', 'ахаха', 'Я фанатею']

with open('file.txt', 'a') as f:
    f.writelines('\n'.join(x))
    
!cat file.txt

ахаха=азащзазащахах
ахах
ахах
ахахlkwfjfwejfwel
ахаха
Я фанатею

Немного инфы про запись в файлы есть [в семинаре о функциях](https://github.com/hse-econ-data-science/dap_2021_spring/blob/main/sem03_functions/sem03_functions.ipynb)

__Упражнение 1:__ найдём тех кто скатал!

In [45]:
files = [item for item in os.listdir("cheating/") if item[0] != '.']

def read_file(path):
    f = open(path)
    code = f.readlines()
    f.close()
    code = ''.join(code)
    return code

for i in range(len(files)):
    code1 = read_file("cheating/" + files[i])
    for j in range(i + 1, len(files)):

        code2 = read_file("cheating/" + files[j])
        
        if code1 == code2:
            print(files[i], files[j])

31.py 23.py
22.py 29.py
9.py 10.py
7.py 8.py
4.py 5.py
4.py 6.py
5.py 6.py
25.py 26.py
1.py 2.py

In [48]:
!cat cheating/4.py

In [49]:
!cat cheating/5.py

## 3. JSON

In [ ]:
# С точки зрения питона, json это обычный словарь
# но на этот словарь накладывается немного ограничений

# - кавычки могут быть только двойными
# - какие-то приколы с пробелами
# - какие-то приколы с запятыми

In [50]:
data = {
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "sky diving", "singing"],
    "age": 35,
    'children': [
        {
            "firstName": "Alice",
            "age": 6,
        },
    ]
}

In [53]:
import json
s = json.dumps(data)
s

'{"firstName": "Jane", "lastName": "Doe", "hobbies": ["running", "sky diving", "singing"], "age": 35, "children": [{"firstName": "Alice", "age": 6}]}'

In [54]:
json.loads(s)

{'firstName': 'Jane',
 'lastName': 'Doe',
 'hobbies': ['running', 'sky diving', 'singing'],
 'age': 35,
 'children': [{'firstName': 'Alice', 'age': 6}]}

In [55]:
with open("markup.json", "r") as f:
    x = json.load(f)

In [58]:
len(x)

3000

In [59]:
x[10]

{'inputValues': {'id': 4, 'version': 1},
 'workerId': 43,
 'taskId': 1,
 'outputValues': {'result': 'ok'}}

__Упражнение 2:__ посчитать сколько каких веридктов встречается в данных

In [62]:
from collections import Counter
verdicts = [item['outputValues']['result'] for item in x]
cnt = Counter(verdicts)
cnt

Counter({'ok': 1448, 'local': 543, 'violence': 508, 'federal': 501})

In [64]:
cnt.most_common()

[('ok', 1448), ('local', 543), ('violence', 508), ('federal', 501)]

- [Введение в json](https://python-scripts.com/json)

## 4. Pickle

- [Пикл для чайников](https://pythonworld.ru/moduli/modul-pickle.html)

In [65]:
import pickle

In [66]:
x = [1, 2, 3, 4, 5]

with open("lst.pickle", "wb") as f:
    pickle.dump(x, f)

In [67]:
!cat lst.pickle

�]q (KKKKKe.

In [68]:
with open("lst.pickle", "rb") as f:
    a = pickle.load(f)
a

[1, 2, 3, 4, 5]

In [69]:
# Так лучше не делать 

def g(x):
    return x**2

with open("function_g.pickle", "wb") as f:
    pickle.dump(g, f)

In [71]:
with open("function_g.pickle", "rb") as f:
    h = pickle.load(f)

In [72]:
h(99)

9801

In [ ]:
# Можно использовать pickle чтобы сохранять модели обученные в ML

## 5. Таблицы

In [ ]:
# .csv .tsv

In [74]:
import pandas as pd
df = pd.read_csv('marks.tsv', sep='\t')
df.head()

,fio,login,group,email,1,2,3,4,ДЗ итог,1.1,...,5,6,МСР итог,1.2,2.2,3.2,БСР итог,Итог,Итог округл,Проверяющий ассистент
0,Новицкая Алина Дмитриевна,dap_econ_2022_358,БЭК196,adnovitskaya@edu.hse.ru,11.0,NaN,NaN,NaN,2.8,NaN,...,NaN,NaN,2.0,9.0,NaN,NaN,3.0,2.78,3,NaN
1,Мунхтур Эгшиглэн,dap_econ_2022_359,БЭК197,emunkhtur@edu.hse.ru,2.0,NaN,NaN,NaN,0.5,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.25,0,NaN
2,Майданов Бекнур,dap_econ_2022_360,БЭК198,bmaydanov@edu.hse.ru,11.0,NaN,NaN,NaN,2.8,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,1.38,1,NaN
3,Мукамбеков Бектур,dap_econ_2022_361,БЭК199,bmukambekov@edu.hse.ru,11.0,NaN,NaN,NaN,2.8,NaN,...,NaN,NaN,0.0,10.0,NaN,NaN,3.3,2.71,3,NaN
4,Цветкова Алёна Алексеевна,dap_econ_2022_353,БЭК2011,aatsvetkova_3@edu.hse.ru,11.0,NaN,NaN,NaN,2.8,10.0,...,NaN,NaN,3.3,10.0,NaN,NaN,3.3,3.04,3,NaN

In [76]:
df['fio'].index

RangeIndex(start=0, stop=34, step=1)

In [78]:
# можно найти все имена
[item.split(' ')[1] for item in df['fio'].values]

['Алина',
 'Эгшиглэн',
 'Бекнур',
 'Бектур',
 'Алёна',
 'Мария',
 'Владислав',
 'Шохрух',
 'Артём',
 'Эрнест',
 'Егор',
 'Даниил',
 'Максим',
 'Тимур',
 'Арсений',
 'Игорь',
 'Михаил',
 'Екатерина',
 'Тимур',
 'Михаил',
 'Ульяна',
 'Карина',
 'Серафима',
 'Даниил',
 'Андрей',
 'Владимир',
 'Оксана',
 'Кирилл',
 'Арман',
 'Артём',
 'Анастасия',
 'Иван',
 'Мария',
 'Эльмира']

В этом семестре нам нельзя использовать пандас :(  Дурацкий независимый экзамен запрещеает нам это. Будь он тысячу раз проклят!

__Упражнение 3:__ 

Посчитать среднюю оценку по всем БСР которые прошли

In [87]:
ans = []

with open('marks.tsv', 'r') as f:
    s = f.readline()
    indx = s.split('\t').index('БСР итог')
    while True:
        s = f.readline()
        if s == '':
            break
        row = s.split('\t')[indx]
        ans.append(float(row))
        
sum(ans)/len(ans)

1.9588235294117646

## 6. Всякая фигня на которую осталось время

In [88]:
a = 5
b = 0

a / b

ZeroDivisionError: division by zero

In [90]:
type(ZeroDivisionError)

type

In [92]:
a = 5
b = 0

try:
    print(a / b)
except:
    print('ты чё пёс, собрался на ноль делить?')

ты чё пёс, собрался на ноль делить?

In [95]:
a = 5
b = '0'

try:
    print(a / b)
except ZeroDivisionError:
    print('ты чё пёс, собрался на ноль делить?')

TypeError: unsupported operand type(s) for /: 'int' and 'str'

Подробное описание какими бывают ошибки:

- https://pythonru.com/osnovy/znachenija-iskljuchenij-i-oshibok-v-python

In [99]:
b = 0

if b == 0:
    raise ValueError("При выполнении команды возникла ошибка")

ValueError: При выполнении команды возникла ошибка